html,body{
	width:100%;
	height:100%;
	margin:0;
	padding: 0;

}
#getData{
	margin: 10px;
}
.imgCenter{
	width:200px;
	height: 150px;
	position: relative;
	overflow: hidden;
	margin: 20px;
}
.imgCenter{
	position: absolute;
	display: block;
}
.imgCenter img.aspectFill-x{
	width:100%;
	top:50%;
	transform: translateY(-50%);
}
.imgCenter img.aspectFill-y{
	height:100%;
	left:50%;
	transform: translateX(-50%);
}